Semestre_5/FD/TP/TP2/rectangle.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://www.univ-grenoble-alpes.fr/rectangle"
           elementFormDefault="qualified">
    <xs:element name="rectangleData">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="x" type="xs:integer"/>
                <xs:element name="y" type="xs:integer"/>
                <xs:element name="width" type="xs:integer"/>
                <xs:element name="height" type="xs:integer"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
