Semestre_5/FD-XML/Projet/Infirmier_ Cabinet/cabinet_test.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://www.univ-grenoble-alpes.fr/l3miage/medical"
           xmlns="http://www.univ-grenoble-alpes.fr/l3miage/medical"
           elementFormDefault="qualified">

    <!-- ==================== TYPES SIMPLES ==================== -->

    <!-- Numéro de sécurité sociale : 15 chiffres -->
    <xs:simpleType name="NumSecuType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[12][0-9]{2}(0[1-9]|1[0-2])[0-9]{2}[0-9]{3}[0-9]{3}[0-9]{2}"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- ==================== TYPES COMPLEXES ==================== -->

    <xs:complexType name="AdresseType">
        <xs:sequence>
            <xs:element name="numero" type="xs:string" minOccurs="0"/>
            <xs:element name="rue" type="xs:string"/>
            <xs:element name="codePostal" type="xs:string"/>
            <xs:element name="ville" type="xs:string"/>
            <xs:element name="etage" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="InfirmiereType">
        <xs:sequence>
            <xs:element name="nom" type="xs:string"/>
            <xs:element name="prenom" type="xs:string"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:ID" use="required"/>
    </xs:complexType>

    <xs:complexType name="ActeType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="id" type="xs:string" use="required"/>
                <xs:attribute name="type" type="xs:string" use="required"/>
                <xs:attribute name="cle" type="xs:string" use="required"/>
                <xs:attribute name="coef" type="xs:decimal" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="VisiteType">
        <xs:sequence>
            <xs:element name="date" type="xs:date"/>
            <xs:element name="acte" type="ActeType" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="PatientType">
        <xs:sequence>
            <xs:element name="nom" type="xs:string"/>
            <xs:element name="prenom" type="xs:string"/>
            <xs:element name="dateNaissance" type="xs:date"/>
            <xs:element name="numSecu" type="NumSecuType"/>
            <xs:element name="adresse" type="AdresseType"/>
            <xs:element name="visite" type="VisiteType" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="infirmiereId" type="xs:IDREF" use="optional"/>
    </xs:complexType>

    <!-- ==================== RACINE ==================== -->
    <xs:element name="cabinet">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="nom" type="xs:string"/>
                <xs:element name="adresse" type="AdresseType"/>
                <xs:element name="infirmieres">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="infirmiere" type="InfirmiereType" maxOccurs="unbounded"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="patients">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="patient" type="PatientType" maxOccurs="unbounded"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
